body{
    background-image:url("pfw.jpg");
    background-position:center center;
    font-family: 'Noto Sans TC', sans-serif;
    height:100vh;

}

.gif{
    border-radius: 30px;
    
}

.text{
    border-style:groove;
border-radius:30px;
border-width:10px;
width: 600px; 
padding-top:10px;
padding-bottom:10px;
border: 3px solid #A0A0A0;
text-align: center;
background: #C0C0C0;
}
.text:hover{
    background-color: coral;
}

.logo{
    width: 70px;
    height:70px;
    margin-top:5px;
    float:right;
    margin-left:3500%;
    margin-top:1%;

}

.flag{
    width:70px;
    height:70px;
    
}

.titre{
    color:white;
    text-shadow: 5px 5px 5px black;
    font-size: 50px;
}
.titre:hover{
    background-color: blueviolet;
}
